<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.agriapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/unnamed"
        android:label="Agrimobile"
        android:theme="@android:style/Theme.Light" >
        <activity
            android:name=".homes.Login"
            android:label="Sign in" >
        </activity>
        <activity
            android:name=".homes.Farmer"
            android:label="Farmer" >
        </activity>
        <activity
            android:name=".Searchcrop"
            android:label="@string/title_activity_searchcrop" >
        </activity>
        <activity
            android:name=".Availablecrop"
            android:label="Available Crops" >
        </activity>
        <activity
            android:name=".Crops"
            android:label="@string/title_activity_crops" >
        </activity>
        <activity
            android:name=".Notification"
            android:label="@string/title_activity_notification" >
        </activity>
        <activity
            android:name=".homes.Seller"
            android:label="@string/title_activity_seller" >
        </activity>
        <activity
            android:name=".Sellproduct"
            android:label="Sell A Product" >
        </activity>
        <activity
            android:name=".Productlist"
            android:label="Product List" >
        </activity>
        <activity
            android:name=".Product"
            android:label="Product" >
        </activity>
        <activity
            android:name=".profiles.Sellerprofile"
            android:label="Seller Profile" >
        </activity>
        <activity
            android:name=".Weather"
            android:label="@string/title_activity_weather" >
        </activity>
        <activity
            android:name=".Find_Accessories"
            android:label="@string/title_activity_accessories" >
        </activity>
        <activity
            android:name=".Fertilizers"
            android:label="@string/title_activity_fertilizers" >
        </activity>
        <activity
            android:name=".Blog"
            android:label="Blog" >
        </activity>
        <activity
            android:name=".Blog2"
            android:label="Blog" >
        </activity>
        <activity
            android:name=".Consultengg"
            android:label="Consult Engineer" >
        </activity>
        <activity
            android:name=".Consultengg2"
            android:label="@string/title_activity_consultengg" >
        </activity>
        <activity
            android:name=".Consultengg3"
            android:label="@string/title_activity_consultengg" >
        </activity>
        <activity
            android:name=".Laboursearch"
            android:label="Labour Search" >
        </activity>
        <activity
            android:name=".Availablelabours"
            android:label="@string/title_activity_availablelabours" >
        </activity>
        <activity
            android:name=".Agriengg"
            android:label="@string/title_activity_agriengg" >
        </activity>
        <activity
            android:name=".Addnotification"
            android:label="Add Notification" >
        </activity>
        <activity
            android:name=".Addcrop"
            android:label="@string/title_activity_addcrop" >
        </activity>
        <activity
            android:name=".Notification2"
            android:label="Notification" >
        </activity>
        <activity
            android:name=".Launcher"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".Set_Ip"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Message"
            android:label="@string/title_activity_message" >
        </activity>
        <activity
            android:name=".homes.Labour"
            android:label="@string/title_activity_labour" >
        </activity>
        <activity
            android:name=".homes.Officer"
            android:label="Agriculture Officer" >
        </activity>
        <activity
            android:name=".homes.Supplier"
            android:label="@string/title_activity_supplier" >
        </activity>
        <activity
            android:name=".profiles.Supplierprof"
            android:label="@string/title_activity_supplierprof" >
        </activity>
        <activity
            android:name=".Accessorylist"
            android:label="@string/title_activity_accessorylist" >
        </activity>
        <activity
            android:name=".Addnewaccessory"
            android:label="@string/title_activity_addnewaccessory" >
        </activity>
        <activity
            android:name=".intro.Intro1"
            android:label="Agrimobile"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".intro.Intro2"
            android:label="Agrimobile"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".intro.Intro3"
            android:label="Agrimobile"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".intro.Intro4"
            android:label="Agrimobile"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".Habout"
            android:label="@string/title_activity_habout" >
        </activity>
        <activity
            android:name=".Forgot"
            android:label="Authentication" >
        </activity>
        <activity
            android:name=".registration.Registration"
            android:label="@string/title_activity_registration" >
        </activity>
        <activity
            android:name=".registration.Registration2"
            android:label="@string/title_activity_registration2" >
        </activity>
        <activity
            android:name=".registration.Registration3"
            android:label="@string/title_activity_registration3" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".Accessoryview"
            android:label="@string/title_activity_accessoryview" >
        </activity>
        <activity
            android:name=".Labourprofile"
            android:label="@string/title_activity_labourprofile" >
        </activity>
        <activity
            android:name=".Newarticle"
            android:label="@string/title_activity_newarticle" >
        </activity>
        <activity
            android:name=".Accessory_Search_List"
            android:label="@string/title_activity_accessorysearch" >
        </activity>
        <activity
            android:name=".Laboursearchresult"
            android:label="@string/title_activity_laboursearchresult" >
        </activity>
        <activity
            android:name=".Labourview"
            android:label="@string/title_activity_labourview" >
        </activity>
        <activity
            android:name=".Myarticle"
            android:label="@string/title_activity_myarticle" >
        </activity>
        <activity
            android:name=".Articleview"
            android:label="Article View" >
        </activity>
        <activity
            android:name=".registration.Registration4"
            android:label="@string/title_activity_registration4" >
        </activity>
        <activity
            android:name=".Farmer_Accessory_View"
            android:label="@string/title_activity_farmeraccessoryview" >
        </activity>
        <activity
            android:name=".Supplierprofedit"
            android:label="@string/title_activity_supplierprofedit" >
        </activity>
        <activity
            android:name=".Farmermachineview"
            android:label="Farmer Machine View" >
        </activity>
        <activity
            android:name=".Labour_profile_edit"
            android:label="@string/title_activity_labour_profile_edit" >
        </activity>
        <activity
            android:name=".Sellerpofedit"
            android:label="@string/title_activity_sellerpofedit" >
        </activity>
        <activity
            android:name=".Product_seller"
            android:label="@string/title_activity_product_seller" >
        </activity>
        <activity
            android:name=".Enggchatbox"
            android:label="@string/title_activity_enggchatbox" >
        </activity>
        <activity
            android:name=".Enggchatbox2"
            android:label="@string/title_activity_enggchatbox2" >
        </activity>
        <activity
            android:name=".Blog3"
            android:label="@string/title_activity_blog3" >
        </activity>
        <activity
            android:name=".Myarticle_edit"
            android:label="@string/title_activity_myarticle_edit" >
        </activity>
        <activity
            android:name=".Sellerchatbox"
            android:label="@string/title_activity_sellerchatbox" >
        </activity>
        <activity
            android:name=".Sellerchatbox2"
            android:label="@string/title_activity_sellerchat_details" >
        </activity>
        <activity
            android:name=".Supplierchatbox"
            android:label="@string/title_activity_supplierchatbox" >
        </activity>
        <activity
            android:name=".Supplierchatbox2"
            android:label="@string/title_activity_supplierchatbox2" >
        </activity>
        <activity
            android:name=".Labourchatbox"
            android:label="@string/title_activity_labourchatbox" >
        </activity>
        <activity
            android:name=".Labourchatbox2"
            android:label="@string/title_activity_labourchatbox2" >
        </activity>
        <activity
            android:name=".Sellerdetails"
            android:label="@string/title_activity_sellerdetails" >
        </activity>
        <activity
            android:name=".Supplierdetails"
            android:label="@string/title_activity_supplierdetails" >
        </activity>
        <activity
            android:name=".Listofsellers"
            android:label="@string/title_activity_listofsellers" >
        </activity>
        <activity
            android:name=".Sellproduct_edit"
            android:label="@string/title_activity_sellproduct_edit" >
        </activity>
        <activity
            android:name=".Addaccessory"
            android:label="@string/title_activity_addaccessory" >
        </activity>
    </application>

</manifest>